body {
  width: 100vw;
  padding: 0;
  margin: 0;
}

#bloc_page {
  width: 100vw;
}

#bloc_page header {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

#bloc_page header #logo {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#bloc_page header nav ul {
  font-size: 1em;
  padding: 0;
  margin: 0;
}

#bloc_page section {
  padding-left: 1em;
  padding-right: 0.5em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#bloc_page section h1 {
  font-size: 1em;
}

#bloc_page #banniere_image {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

#bloc_page #banniere_image #banniere_description {
  border-radius: 0;
  height: 50px;
  top: 71%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

#bloc_page .bouton_rouge {
  text-align: center;
}

aside {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

footer #tweet,
footer #mes_photos,
footer #mes_amis,
footer #mes_amis {
  width: 49vw;
}
