/* initialisation divers */
.float-right {
  float: right !important;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 33vh;
  padding-top: 30px;
}

.w50 {
  width: 50%;
}

.w100 {
  width: 100%;
}

.fas,
.fa-user {
  padding: 0;
  margin: 0;
}
